pipeline/GenerateTableListAndTriggerCopyData.json
{
	"name": "GenerateTableListAndTriggerCopyData",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE'"
					},
					"dataset": {
						"referenceName": "LocalSqlDatabaseDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TriggerCopy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IterateAndCopySQLTables",
						"type": "PipelineReference"
					},
					"parameters": {
						"TableList": {
							"value": "@activity('LookupTableList').output.value",
							"type": "Expression"
						}
					}
				}
			}
		]
	}
}